.profile{
    margin:4rem 3rem;
    padding: 1rem;
    box-shadow: -3px 0 15px 0 rgb(111, 111, 111);
    text-align: center;
}
.profile h2{
    color: rgb(18, 157, 46);
}











