
.proizvodi{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

mat-card-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
}
mat-card-content h3{
    width: 100%;
    margin: auto;
    
    font-weight: 500;
    font-size: 20px;
    color: #a47a06;
}
mat-card-content button{
    position: relative;
   margin-left: 50%;
   outline: none;
}
mat-card img{
    
    width: 100%;
    transition: .7s;
    height: auto;

}

mat-card-title{
    text-align: center;
    font-size: 13px!important;
    text-transform: uppercase;
    color: rgb(74, 150, 255);
   
}
mat-card{
    width: 200px;
   
    margin: 1rem .5rem ;
    overflow: hidden;
   
    
}
ngb-carousel{
    z-index: 0;
}
mat-card-actions{
  text-align: center;
}
mat-card-actions button{
    
    border: none;
    outline: none;
}