
.sidenav-container {
  height: 100%;
  
  
}

a.sidea{
  display: none;
}

.mat-accordion .mat-expansion-panel:last-of-type {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
mat-nav-list a{
  height: 30px;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  
}
mat-menu.admi {
  outline: none;
}

mat-sidenav-content mat-toolbar button{
  outline: none;
  
}
mat-expansion-panel-header{
  padding-left: 0;

}
.shopBadge{
  margin-right: 15px;
  outline: none;
}
.shopbtn{
  margin-top: 7px;
 
  outline: none;
  background: transparent;
  border: none;
  color: #fff;
  transition: .5s;
  outline: none;
}
.shopbtn:hover{
  color: rgb(213, 213, 213);
}


mat-sidenav{
  background: url('../../assets/visilica-trivia-340-e-27-3x40w-brilight.png') no-repeat , rgb(241, 241, 241);
  background-position: center;
  box-shadow: 3px 0 6px rgba(0, 0, 0, .24) ;
  border: none;

  
}
mat-sidenav-content{
  z-index: 1;
  right: 0;
  left: 0;
  
  
  position: fixed;

}

a.contenta{
  padding: 5px;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}
.cen{
  width: 100%;
  margin: 0 auto;
  flex: 1 1;
  text-align: center;
}
mat-sidenav  mat-nav-list{
  opacity: .95;
  
}

.sidenav .mat-toolbar {
  background: #3f51b5;
  color: #fff;
  
}

.logo{
  display: flex;
  justify-content: center;
  
}
/*.logbtn{
  text-align: center;
  padding: 12px 0 5px 35px;
  color: #fff;
}*/
.inputsearch{
  border-radius: 3rem;
  border: none;
  height: 30px;
  width: 130px;
  transition: .5s;
  outline: none;
  font-size: 14px;
  text-align: center;
 
}
.inputsearch::placeholder{
  
  text-align: center;
  font-weight: 200;
}
.inputsearch:focus{
  width: 150px;
  padding-left:20px;
  
}/*
.spaces{
  flex: 1 1 auto;
}*/
.title{
  padding-left: 5px;
  color: #e2e2e2 ;
  font-weight: 350;
  text-decoration: none;
  transition: .4;
}
.maincontent{
  min-height: 60vh;
  position: relative;
}
.footer{
  position: bottom;
  bottom: 0;
  width: 100%;
}
.title:hover{
  color: rgb(179, 179, 179);
}
.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
h4 a{
  display: none;
}
.logbtn{
  margin-left: 10px;
}
@media screen and (max-width:768px){
  a.sidea{
    display: initial;
  }
  a.contenta{
    display: none;
  }
  mat-toolbar h4 a{
    display: initial ;
    padding-left: 10px;
    font-size: 16px;
    color: #fff;
    font-weight: 300;
    transition: .4;
    text-decoration: none;

  }
  mat-toolbar h4 a:hover{
    color: rgb(187, 187, 187);
  }
  .inputsearch{
    width: 70px;
  }
  .inputsearch:focus{
    width:90px;
    padding-left:10px;
    margin-left: 0;
    
  }
  .logbtn{
    margin-left: 0;
    padding-left: 3px;
  }
}

@media screen and (max-width:480px){
  /*a.title{
    display: none;
  }*/
 
}
