<div class="katalozi">

   
    <div *ngFor="let katalog of katalozi">
        <div class="katalog">
            <button *ngIf="ulogovanIn()" mat-mini-fab (click)="brisiKatalog(katalog)" color="warn"><mat-icon>delete</mat-icon></button>
            <a target="_blank" href="{{katalog.link}}">
                <div class="img">
                    <img  [src]="getImage(katalog.srcSlika)" alt="">
                </div>
                <h3>{{katalog.nazivKataloga}}</h3>
            </a>
        </div>

    </div>

</div>