<footer>
    <div class="footer">
        
        <section class="footer2">
            <h2>Kontaktirajte nas</h2>
            <div class="podaci">
                <h3> <i class="fa fa-phone fa-lg" [ngStyle]="{'margin-right': '5px', 'color': ' rgb(15, 179, 15)'}"> </i>
                    <a href="tel:+38163670458">063670458 </a></h3>

                <h3> <i class="fa fa-envelope fa-lg" [ngStyle]="{'margin-right': '5px', 'color': '#8e3d3d'} "></i>
                    <a href="mailto:ledmasterva@gmail.com">ledmasterva@gmail.com </a></h3>
            </div>
        </section>
        <section class="footer3">
            <h2>Radno vreme</h2>

            <h3>Ponedeljak-Petak: 9:00-19:30</h3>
            <h3>Subota: 9:00-14:00</h3>
            <h3>Nedelja: Ne radimo</h3>
        </section>
        <section class="footer4">
            <h2>Lokacija</h2>
            <h3>Panticeva 25, 14000 Valjevo</h3>
            <div class="lokacija">
                <iframe src="https://snazzymaps.com/embed/242835" width="100%" height="100%" [ngStyle]="{'border':'none', 'border-radius': '10px'}"></iframe>
            </div>
        </section>
    </div>

    <div class="footer-bottom">
        <a href="https://www.facebook.com/bojan.maric.108">2020 &copy; Designed by TEAM SRB
            <i class="fa fa-facebook-f" [ngStyle]="{'color': '#ffffff'}"></i>
        </a>

    </div>

</footer>