.galerija{
   margin: 2rem 0;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
}
.galerija .slika {
    margin: .3rem;
    padding: 0;
    overflow: hidden;
    position: relative;

}
.galerija .slika img{
    width: 300px;
    height: auto;
    cursor: pointer;
   
}
button{
    position: absolute;
    top: 5px;
    left: 5px;
    outline: none;
}


@media screen and (max-width:480px){
    .galerija .slika{
        margin: .1rem;
    } 
   /*  .galerija .slika img{
        width: 150px;
    } */
}
