<div class="container">

    
    <h1 class="text-primary" [ngStyle]="{'margin':'2rem 0 0 1.1rem'}">Poslednji proizvodi na stanju</h1>

    <hr [ngStyle]="{'width':'50px', 'height': '3px', 'background-color':'#007bff','margin-left':'20px','margin-top':'5px'}">
    
    <pagination-controls class="text-center myPagination" previousLabel=" " nextLabel=" " (pageChange)="p = $event"
      maxSize="5"> </pagination-controls>
    <div class="itemPer">
      <span>Prikaži: &nbsp;</span>
      <span (click)="changePerPage(20)">20 &nbsp;/&nbsp;</span>
      <span (click)="changePerPage(30)">30 &nbsp;/&nbsp;</span>
      <span (click)="changePerPage(40)">40</span>
    </div>
    <div class="proizvodi">

      <div *ngFor="let art of artikli |paginate:{ 
        itemsPerPage:itemPerPage, 
        currentPage: p}">

        <mat-card>

          <img (click)="openArtikal(art)" class="img" mat-card-image [src]="getImage(art.srcSlika)" alt="">
          <div *ngIf="art.popust>0" class="popustProcenat">
            <h2>-{{art.popust}}%</h2>
          </div>
          <div class="akcija">
            <img *ngIf="art.akcija" src="../../../../assets/akcija.png" alt="">
          </div>
          <mat-card-content>
            <h3 class="popust  text-danger" *ngIf="art.popust > 0">
              {{(art.cenaArtikla + (art.cenaArtikla*(art.popust/(100-art.popust)))) | number:'' }} </h3>
            <h3>{{art.cenaArtikla | number:''}}.00</h3>

          </mat-card-content>
          <mat-card-title>{{art.nazivArtikla}} </mat-card-title>

          <button class="shopCartBtn" mat-stroked-button color="accent" (click)="addShop(art)">
            <mat-icon>add_shopping_cart</mat-icon>
          </button>
          <mat-card-actions *ngIf="ulogovan">
            <button mat-raised-button color="primary" (click)="editArt(art)">EDIT</button>
            <button mat-raised-button color="warn" (click)="deleteArt(art)"> DELETE</button>
          </mat-card-actions>
        </mat-card>
      </div>

    </div>

    <pagination-controls class="text-center myPagination" previousLabel=" " nextLabel=" " (pageChange)="p = $event"
      maxSize="5"> </pagination-controls>
  </div>
