<div class="home">
  <div class="grid">
    <mat-grid-list cols="3" rowHeight="4:3">
      
      <mat-grid-tile colspan=3><img src="../../../assets/home/pozz.png" alt=""></mat-grid-tile>
    
     <!--  <mat-grid-tile><img src="../../../assets/home/0011073a_2.jpg" alt=""></mat-grid-tile>
      <mat-grid-tile><img src="../../../assets/home/617F+npSj6L._AC_SX466_.jpg" alt=""></mat-grid-tile>
      <mat-grid-tile><img src="../../../assets/home/black-modern-chandelier-4-light-5-light-santurn-ii-led-collection-pendant-light-fixture-cord-adjustable-brushed-aluminum-circular-led-chandelier-warm-white-neutral-li.jpg" alt=""></mat-grid-tile>
  
 -->
    </mat-grid-list>
  </div>
  <ngb-carousel>
    <ng-template ngbSlide>
      <div class="slideimg">
        <img [src]="carouselImg[0]" alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <h1 class="lepas">Sve za vaš dom</h1>
        <p class="lepasa">Veliki izbor lustera, lampi, led rasvete...</p>

      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="slideimg">
        <img [src]="carouselImg[1]" alt="Random second slide">
      </div>
      <div class="carousel-caption">
        <h1 class="lepas">Najmodernija rasveta</h1>
        <p class="lepasa">Rasveta jedinstvena u svakom pogledu...</p>

      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="slideimg">
        <img [src]="carouselImg[2]" alt="Random third slide">
      </div>
      <div class="carousel-caption">
        <h1 class="lepas">Višegodišnje iskustvo</h1>
        <p class="lepasa">Profesionalno osoblje, spremno da odgovori na sve vase zahteve.</p>

      </div>
    </ng-template>
  </ngb-carousel>
  <div [ngStyle]="{'margin': '1rem'}"></div>
  <div class="container">

    


    <h1 class="text-primary" [ngStyle]="{'margin':'2rem 0 0 1.1rem'}">Akcijski proizvodi</h1>

    <hr [ngStyle]="{'width':'50px', 'height': '3px', 'background-color':'#007bff','margin-left':'20px','margin-top':'5px'}">
    <pagination-controls class="text-center myPagination" previousLabel=" " nextLabel=" " (pageChange)="p = $event"
      maxSize="5"> </pagination-controls>
    <div class="itemPer">
      <span>Prikaži: &nbsp;</span>
      <span (click)="changePerPage(10)">10 &nbsp;/&nbsp;</span>
      <span (click)="changePerPage(20)">20 &nbsp;/&nbsp;</span>
      <span (click)="changePerPage(30)">30</span>
    </div>
    <div class="proizvodi">

      <div *ngFor="let art of artikli |paginate:{ 
        itemsPerPage:itemPerPage, 
        currentPage: p}">

        <mat-card>

          <img (click)="openArtikal(art)" class="img" mat-card-image [src]="getImage(art.srcSlika)" alt="">
          <div *ngIf="art.popust>0" class="popustProcenat">
            <h2>-{{art.popust}}%</h2>
          </div>
          <div class="akcija">
            <img *ngIf="art.akcija" src="../../../../assets/akcija.png" alt="">
          </div>
          <mat-card-content>
            <h3 class="popust  text-danger" *ngIf="art.popust > 0">
              {{(art.cenaArtikla + (art.cenaArtikla*(art.popust/(100-art.popust)))) | number:'' }} </h3>
            <h3>{{art.cenaArtikla | number:''}}.00</h3>

          </mat-card-content>
          <mat-card-title>{{art.nazivArtikla}} </mat-card-title>

          <button class="shopCartBtn" mat-stroked-button color="accent" (click)="addShop(art)">
            <mat-icon>add_shopping_cart</mat-icon>
          </button>
          <mat-card-actions *ngIf="ulogovan">
            <button mat-raised-button color="primary" (click)="editArt(art)">EDIT</button>
            <button mat-raised-button color="warn" (click)="deleteArt(art)"> DELETE</button>
          </mat-card-actions>
        </mat-card>
      </div>

    </div>

    <pagination-controls class="text-center myPagination" previousLabel=" " nextLabel=" " (pageChange)="p = $event"
      maxSize="5"> </pagination-controls>
  </div>
</div>

<div *ngIf="showSpiner" class="spinerr">
  <mat-spinner></mat-spinner>
</div>