
.proizvodi{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    

}
mat-card-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
}
mat-card .akcija{
    position: absolute;
    right: 0;
    top: 0;
    width: 30%;
}
.akcija img{
    width: 100%;
}

.popustProcenat{
    position: absolute;
    top: 0;
    border-radius: 0 0 8px;
    
    left: 0;
    background-color: rgb(17, 177, 9);
    color: #fff;
    margin: 0;
    padding: 0;
    width: 50px;
    max-width: 80px;
    height: 30px;
    text-align: center;
    
}
.popustProcenat h2{
    font-size: 16px;
}

mat-card-content h3{
    width: 100%;
    margin: auto;
    
    font-weight: 500;
    font-size: 20px;
    color: #a47a06;
}
mat-card-content button{
    position: relative;
   margin-left: 50%;
   outline: none;
}
mat-card img{
    
    transition: .7s;

}

mat-card-title{
    text-align: center;
    font-size: 13px!important;
    text-transform: uppercase;
    color: rgb(74, 150, 255);
   
}
mat-card{
    min-width: 150px;
    max-width: 220px;
    width: 100%;
    margin: 1rem .5rem ;
    overflow: hidden;
   
    
}
mat-card img{
    height: auto
}
mat-card-actions{
  text-align: center;
}
mat-card-actions button{
    
    border: none;
    outline: none;
}